@font-face {
  font-family: 'Paytone One';
  src: url('../fonts/PaytoneOne-Regular.woff2') format('woff2'),
    url('../fonts/PaytoneOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI-BoldItalic.woff2') format('woff2'),
    url('SegoeUI-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI.woff2') format('woff2'),
    url('SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI-Bold.woff2') format('woff2'),
    url('SegoeUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pavanam';
  src: url('Pavanam-Regular.woff2') format('woff2'),
      url('Pavanam-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-family: 'Paytone One';
}

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  content: "";
  background-image: url("../imges/laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.big-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.alpine-container {
  max-width: 854px;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  padding-top: 51px;
}

/* .navbar-left {} */

.alpine-logo {
  width: 143px;
  height: 59px;
  transition: all 0.3s ease;
}

.alpine-logo:hover {
  opacity: 0.7;
}

/* .navbar-right {} */

.nav-right-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 30px;
}

.navbar-item:nth-child(1) {
  margin-left: 70px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s ease
}

.navbar-link:hover {
  color: red
}

.navbar-link:active {
  color: yellow;
}

/* ============= */

.main-section {
  min-height: 1669px;
  content: "";
  background-image: url("../imges/backcolor.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.alpine-section {
  position: absolute;
  left: 50%;
  top: 204px;
  transform: translate(-50%);
  width: 994px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  ;
}

.alpine-title {
  width: 223px;
  text-transform: uppercase;
  padding-top: 76px;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  color: #fff;
}

.alpine-subtitle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.alpine-text {
  font-family: 'Segoe UI', sans-serif;
  width: 432px;
  margin-top: 30px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26, 96px;
}

.alpine-input {
  font-family: 'Pavanam';
  font-style: normal;
  font-weight: normal;
  width: 291px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 25px;
  padding: 9px 0px 9px 35px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  background-color: transparent;
}

.alpine-button {
  font-family: 'Pavanam'
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
  padding: 9px 20px 9px 22px;
  background-color: transparent;
  border: 2px solid #FF1640;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.alpine-button:hover {
  cursor: pointer;
  background-color: #FF1640;
  color: #fff;
  border: 2px solid darkorange;
}

.alpine-button:active {
  color: #2D2828;
}

.line {
  display: block;
  margin-top: 79px;
  width: 994px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  ;
}

.social-media-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 25px;
}


.social-media-item {
  margin-right: 71px;
}

.social-media-link {
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-media-link:hover {
  opacity: 0.7;
}

/* marketing imges */

.marketing-list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 147px;
}


.marketing-item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow (-10px 15px 10px rgba(0, 0, 0, 0.25));
}

.marketing-imges {
  width: 292.91px;
  height: 237px;
}

.marketing-item-main {
  position: absolute;
  margin-top: -60px;
}

.marketing-item-left {
  /* margin-left: -90px; */
  margin-right: 90px;
}

.marketing-item-right {
  /* margin-right: -90px; */
  margin-left: 98px;
}

.marketing-massage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 61px;
}

.marketing-title {
  font-family: 'Paytone One';
  text-transform: uppercase;
  margin-right: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  color: #FFFFFF;
}

.marketing-dashed-line {
  display: block;
  width: 215px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.75);
  ;
  margin-right: 10px;
}

.massage-img::before {
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 6px;
  content: '';
  background-repeat: no-repeat;
  background-image: url('../imges/vector.png');
}

.massage-button {
  font-family: 'Segoe UI';
  display: flex;
  align-items: center;
  padding: 8px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease;
}

.massage-button:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.massage-button:active {
  color: red;
}

.button-img {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  content: '';
  background-repeat: no-repeat;
  background-image: url('../imges/group.png');
}

/* ======================= */

.text-count {
  display: flex;
  align-content: center;
}

.text-count-second {
  display: flex;
  align-items: center;
  margin-bottom: 122px;
}

.text-count-left {}

.count-left-header {
  display: flex;
  align-items: center;
  margin-top: 61px;
}

.number-one {
  font-family: 'lato';
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  font-weight: normal;

}

.number-one::before {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 9px;
  content: '';
  background-image: url('../imges/krug.png');
}

.header-title {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  margin-right: 80px;
}

.header-button {
  font-family: 'Segoe UI';
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 149.8%;
  color: #2D2828;
  border-radius: 50px;
  border: none;
  background-color: #C4C4C4;
}


.header-button:nth-child(2) {
  margin-left: 165px;
}

.elippse::before {
  display: block;
  width: 28px;
  height: 27px;
  margin-right: 9px;
  content: '';
  background-repeat: no-repeat;
  background-image: url('../imges/sirkle.png');
}


.header-bootom {
  display: flex;
  content: '';
  margin-top: 25px;
  background-image: url('../imges/bgcolor.png');
  width: 453px;
  height: 128px;
}

.rosario-img::before {
  display: block;
  width: 55px;
  height: 55px;
  margin-top: 14px;
  margin-left: 17px;
  content: '';
  background-image: url('../imges/rosario.png');
}

.rosario-icons::after {
  display: block;
  width: 21px;
  height: 21px;
  content: "";
  background-image: url("../imges/rosario-icons.png");
  transform: translate(-18px, 52px);
}

.dan-icons::after {
  display: block;
  width: 22.57px;
  height: 22px;
  content: "";
  background-image: url("../imges/dan-icons.png");
  transform: translate(-18px, 52px);
}

.name {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
  margin-top: 14px;
}

.name-text {
  width: 67px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.8%;
  margin-top: 3px;
}

.name-text:nth-child(2) {
  width: 74px;
}

.title-bottom-wrapper {
  /* margin-right: 29px; */
}

.title-bottom {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin-top: 19px;
  margin-left: 30px;

}


.text-bottom {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 11px;
  margin-left: 27px;
  margin-bottom: 23px;
  color: #2D2828;
  margin-right: 16px;
}

/* .text-bottom:nth-child(2){
 margin-right: 0;

} */




.text-count-right {
  margin-top: 121px;
  margin-left: 72px;
}

.text-count-right-title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 149.8%;
  color: #fff;
  margin-bottom: 19px;
  opacity: 0.7;
}

.count-right-text {
  font-family: Segoe UI;
  width: 315px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 149.8%;
  color: #fff;
  opacity: 0.7;
}

.elippse-two {
  display: block;
  margin-left: 9px;
  width: 48px;
  height: 33px;
  content: '';
  background-image: url('../imges/on.png');
}

.dan-img::after {
  display: block;
  width: 55px;
  height: 55px;
  margin-top: 14px;
  margin-left: 17px;
  content: '';
  background-image: url('../imges/dan.png');
}



/* ======================= */


.brends-section {
  position: relative;
  padding-top: 1150px;
}

.brends-logo-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.brends-logo-item {
  margin-right: 67px;
}


.brends-info-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.bredns-info-item {
  margin-right: 24.46px;
}

.brends-info-head {
  display: flex;
  align-items: center;
}

.model-girl-photo::before {
  display: block;
  width: 90px;
  height: 91px;
  content: '';
  background-image: url("../imges/ellipse-symmetric.png");
  margin-right: 42px;
}

.model-girl-photo-two::after {
  display: block;
  width: 89px;
  height: 91px;
  content: "";
  background-image: url('../imges/ellipse-digital.png');
}

.model-girl-photo-three::before {
  display: block;
  width: 88.69px;
  height: 91.36px;
  content: "";
  background-image: url("../imges/ellipse-envie.png");
  margin-right: 42px;
}

.symmetric-logo:nth-child(2) {
  margin-left: -30px;
}

.model-girl-info {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  width: 268px;
  height: 194px;
  margin-top: 21.56px;
  margin-bottom: 108px;
}

/* ================= */

.footer-section {
  margin-top: -6%;
  min-height: 540px;
  content: "";
  background-image: url("../imges/footer-backgroundimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.footer-ellipse::before {
  display: block;
  transform: translate(548%, 30px);
  width: 117px;
  height: 117px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../imges/ellipse.png");
}

.footer-head-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-top: -50px;
}

.footer-logo:hover {
  opacity: 0.7;
}

.footer-logo-link {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 63px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.list-wrapper {
  margin-left: 149px;
  display: flex;
}

.foote-list {
  list-style-type: none;
  margin-right: 84px;
}

.foote-list:nth-child(2) {
  /* margin-top: 20px; */
}

.item-title {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;

}


.footer-item {
  margin-bottom: 11px;
}

.footer-item:nth-child(2) {
  margin-top: 22px;
}

.item-link {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}

.item-link:hover {
  color: rgb(255, 157, 0);
}

.item-link:active {
  color: rgb(0, 140, 255);
}


.social-media {
  width: 250px;
  margin-left: 404.22px;
  margin-top: 29px;

}

.media-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.media-item {
  margin-left: 31.77px;
}

.wk-img {
  display: block;
  width: 34.85px;
  height: 20px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../imges/wkcontact.svg");
  transition: all 0.3s ease;
}

.wk-img:hover {
  opacity: 0.7;
}

.twitter {
  display: block;
  width: 26.65px;
  height: 21px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../imges/twitter.svg");
  transition: all 0.3s ease;
}

.twitter:hover {
  opacity: 0.7;
}

.facebook {
  display: block;
  width: 12.3px;
  height: 22px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../imges/facebook.svg");
  transition: all 0.3s ease;
}

.facebook:hover {
  opacity: 0.7;
}

.media-text {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26, 96px;
  color: #FFFFFF;
  margin-top: 15px;
  margin-left: 35px;
}

.media-subtext {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26, 96px;
  color: #FFFFFF;
  width: 219px;
  margin-top: 11px;
  margin-left: -40px;
}

.thanks {
  display: flex;
  align-items: center;
  margin-top: 108px;
  width: 421px;
  margin-left: 495px;
  background-color: #fff;
} 

.thanks-title {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 9px;
  margin-bottom: 8px;
  margin-left: 19.47px;
}

.smil-icon {
  display: block;
  content: "";
  width: 24.11px;
  height: 22px;
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 15px;
  background-image: url("../imges/smile.png");
}